html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  color: gray;
}

.container {
  margin-top: 60px;
}

.navbar {
    background-color: #63a39d;
    background: #63a39d;
    border-color: #63a39d;
    box-shadow: none;

}

.navbar a:hover {
    color: #fa8072 !important;
    font-weight: bold;
}
.navbar-default .navbar-nav li a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}


.navbar-default {
    border:#63a39d;
}

.navbar-default {
    border:#63a39d;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.navbar-default .navbar-collapse {
    border:transparent;
    box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#placemap {
  height: 250px;
  width: 400px;
}
#edit-placemap {
  height: 250px;
  width: 400px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#place-search {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  z-index: 20;
}

#place-search-input:focus {
  border-color: #4d90fe;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}​

