html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  color: gray;
}

#add-place {
    font-weight: bold;
    background-color: #fa8072;
    color: white;
    border-radius: 5px;
    border: 1px solid #fa8072;
}

#show-add-form-btn {
  font-weight: bold;
  background-color: #fa8072;
  color: white;
  border-radius: 5px;
  border: 1px solid #fa8072;
}
#add-place-row label {
  color: #63a39d;
  font-weight: bold;
}

#hide-add-form-btn {
  border: transparent;
  background: transparent;
  font-style: italic;
}
#add-place-row textarea{
  width: 280px;
  height: 70px;
  border: 2px solid #63a39d;
  background: transparent;
  border-radius: 8px;
}

#placename {
  width: 280px;
  margin-bottom: 8px;
  background: transparent;
  border: 2px solid #63a39d;
  border-radius: 8px;
}

#add-place-row input[type=file] {
    display: inline;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 8px;
}


#trip-title {
  letter-spacing: 2px;
  font-size: 36px;
  margin-bottom: 0px;
  margin-top: 2px;
}

#trip-author {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 15px;
    color: #fa8072;
}


.container {
  margin-top: 70px;
}

.day-row h4{
  color: #63a39d;
}

/*.place-div {
  background-color:white;
  margin:2%;
  padding:0
}*/

.place-div {
  padding: 4px;
}

.place-img-div {
  width:100%;
  height:210px;
  overflow:hidden;
  text-align:center
}

.place-img {
  width:100%;
  margin:auto 0
}

.place-text-name {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 2px;
  line-height: 16px;
}

.place-address {
  font-size: 12px;
  margin-bottom: 4px;
}

.place-text {
  margin: auto 0;
}
.place-content {
  background-color: white;
  height: 320px;
  width: 98%;
  margin: 1%;
}
.text-eat {
  color: #00dfff;
}

.text-sleep {
  color: #1096e7;
}

.text-explore {
  color: #379434;
}

.text-transport {
  color: #00db88;
}
.navbar {
    background-color: #63a39d;
    background: #63a39d;
    border-color: #63a39d;
    box-shadow: none;
    z-index: 5;

}

.navbar a:hover {
    color: #fa8072 !important;
    font-weight: bold;
}
.navbar-default .navbar-nav li a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}


.navbar-default {
    border:#63a39d;
}

.navbar-default {
    border:#63a39d;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.navbar-default .navbar-collapse {
    border:transparent;
    box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#placemap {
  height: 200px;
  width: 280px;
  margin-bottom: 8px;
}
#edit-placemap {
  height: 210px;
  width: 350px;
}
#edit-tripnotes {
  width: 300px;
}

#edit-place-btn {
  background-color: #63a39d;
  border: #63a39d;
}

#edit-place-search {
  width: 220px;
}
#tripcat {
  margin-top: 8px;
}
#edit-place-form {
  margin-left: 18%;
  margin-right: 18%;

}

#publish-btn {
  background-color: #63a39d;
  border-color: #63a39d;
}

.edit-btn {
  border: transparent;
  background: transparent;
  color: #fa8072;
  margin-right: 4%;
  margin-bottom: 2%;
  font-style: italic;
  text-decoration: underline;
  display: inline-block;
}

.place-text {
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#place-search {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 280px;
  z-index: 20;
  margin-bottom: 12px;
  background: transparent;
  border: 2px solid #63a39d;
  border-radius: 8px;
}

#place-search-input:focus {
  border-color: #4d90fe;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}​

