html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  color: gray;
}

#title {
  letter-spacing: 2px;
  font-size: 36px;
  margin-bottom: 0px;
  margin-top: 2px;
}

#author {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 15px;
    color: #fa8072;
}

.navbar {
    background-color: #63a39d;
    background: #63a39d;
    border-color: #63a39d;
    box-shadow: none;
    z-index: 5;

}

.trip-link {
    color: gray;
}

#tripname, #trip-loc-search {
    width: 220px;
    margin-bottom: 8px;
}

#from, #to {
    width: 120px;
    margin-bottom: 8px;
}

#create-trip label{
  color: #63a39d;
}

#create-trip input[type=text] {
  background: transparent;
  border: 2px solid #63a39d;
  border-radius: 8px;
}
#create-trip {
  margin-top: 12px;
}

#submit-trip {
    font-weight: bold;
    background-color: #fa8072;
    color: white;
    border-radius: 5px;
    border: 1px solid #fa8072;
}

#hide-form-btn {
  border: transparent;
  background: transparent;
  font-style: italic;
}

#show-form-btn {
    font-weight: bold;
    background-color: #fa8072;
    color: white;
    border-radius: 5px;
    border: 1px solid #fa8072;
}


#hide-form-btn:hover {
    border: transparent;
    background: transparent;
    color: #fa8072;
    text-decoration: underline;
    font-style: italic;
}
a:hover {
    color: #fa8072 !important;
    font-weight: bold;
}

.navbar a:hover {
    color: #fa8072 !important;
    font-weight: bold;
}
.navbar-default .navbar-nav li a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}


.navbar-default {
    border:#63a39d;
}

.navbar-default {
    border:#63a39d;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.navbar-default .navbar-collapse {
    border:transparent;
    box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.container {
    margin-top: 70px;
}