html {
    height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

.navbar {
    background-color: white;
    background: white;
    border-color: transparent;
    box-shadow: none;
    margin-bottom: -10px;
}
.navbar-default {
    font-weight: 550;
}
.navbar .navbar-brand{
    color: #fa8072 !important;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: #f27c6f !important;
}

#collapse-btn {
    border-color: transparent;
}


#no-sess-div {
    color: white;
}

a.modal-open { 
    cursor: pointer;
    color: white;
}

a.modal-open:hover {
    text-decoration: none;
    color: #fa8072;
    font-weight: 500;
}


body {
  background-image: url(/static/homebackgrounddarkened.jpg);
  background-size: cover;
  overflow:auto;
  background-repeat: no-repeat;
  background-position: center center;
  color: gray;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}


.modal-dialog {
    text-align: center;
    color: gray;
}

button .btn .btn:focus .btn:active a:focus {
    outline: none !important;
    box-shadow: none !important;
}

:focus{
  outline: none !important;;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
    color: gray;
}

.modal-title {
    margin: 0;
    line-height: 1.5;
    font-size: 24px;
    color: #fa8072;
}

input[type=text], input[type=password]{
    padding: 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid 1px;
    border-color: gray;
    color: gray;
    border-radius: 5px;
    /*width: 60%;*/
    text-align: center;
}

#create-trip input[type=text], #create-trip input[type=password] {
  background-color: transparent;
  border-color: white;
  color: white;
  width: 280px;
}

.ui-datepicker {
  width: 280px;
}
input[type=submit] {
  margin-top: 8px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  background-color: #fa8072;
}

.doc-form label , #create-trip label {
    font-weight: normal;
    line-height: 20px;
    color: white;

}

::-webkit-input-placeholder {
    color: white;
    font-style: italic;
} 

#create-trip {
  margin-top: 20px;
}
#create-trip label {
    font-weight: bold;
}

#create-feedback {
  color: white;
  font-weight: bold;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #no-sess-div h1 {
        /*font-size: 400%;*/
        margin-top: 15%;
        font-size: 340%;
    }

    .modal-dialog {
      width: auto;
    }


}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  #no-sess-div h1 {
        font-size: 450%;
        letter-spacing: 2px;
    }


  .modal-dialog {
    width: auto;
    }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #no-sess-div h1 {
        margin-top: 15%;
        font-size: 650%;
        letter-spacing: 6px;
    }
  #no-sess-div h5 {
      padding-top: 2%;
      font-size: 180%;
  }

  .modal-dialog {
    width: 40%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .modal-dialog {
    width: 30%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
