html {
    height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

.navbar {
    background-color: white;
    background: white;
    border-color: transparent;
    box-shadow: none;
    margin-bottom: -10px;
}
.navbar-default {
    font-weight: 550;
}
.navbar .navbar-brand{
    color: #fa8072 !important;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: #f27c6f !important;
}

#collapse-btn {
    border-color: transparent;
}
.row {
    margin-top: 1em;
    background-image: url(/static/homebackgrounddarkened.jpg);
    /*padding-top:5em;
    padding-bottom: 20em;
    background-position: 50% 78%;*/
}

#no-sess-div {
    color: white;
}

a.modal-open { 
    cursor: pointer;
    color: white;
}

a.modal-open:hover {
    text-decoration: none;
    color: #fa8072;
    font-weight: 500;
}


body {
  /*background-image: url(/static/homebackgrounddarkened.jpg);
  background-size: cover;
  overflow:auto;
  background-repeat: no-repeat;
  background-position: center center;*/
  color: gray;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

/*.no-sess-btn {
    padding-top: 0px;
    background: transparent;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.no-sess-btn:hover {
  color: #f27c6f !important;
  font-size: 16px;
  font-style: italic;
}

.no-sess-btn:active {
  color: #f27c6f !important;
  font-size: 16px;
  font-style: italic;
}*/

.modal-dialog {
    text-align: center;
    color: gray;
}

button .btn .btn:focus .btn:active a:focus {
    outline: none !important;
    box-shadow: none !important;
}

:focus{
  outline: none !important;;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
    color: gray;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #no-sess-div h1 {
        /*font-size: 400%;*/
        font-size: 340%;
    }
    .row {
    
    padding-top:2em;
    padding-bottom: 18em;
    background-position: 50% 78%;
    }

    .modal-dialog {
      width: auto;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  #no-sess-div h1 {
        font-size: 450%;
        letter-spacing: 2px;
    }

  .row {
    
    padding-top:4em;
    padding-bottom: 18em;
    background-position: 50% 78%;
  }

  .modal-dialog {
    width: auto;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #no-sess-div h1 {
        font-size: 650%;
        letter-spacing: 6px;
    }
  #no-sess-div h5 {
      padding-top: 2%;
      font-size: 180%;
  }

  .modal-dialog {
    width: 40%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .modal-dialog {
    width: 30%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
