html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  color: gray;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

#sidebar-open {
  /*margin-top: 10px;
  margin-left: 268px;
  margin-top: 15px;*/
  transition: 0.2s;
  color: #fa8072;
  margin-top: 50px;
  text-align: right;
  margin-right: 5px;
  font-size: 24px;
}

div#final-map {
  width: 100%;
  /*height: 100%;*/
  margin-top: 50px;
  height: calc(100vh - 50px);
}

.navbar {
    background-color: white;
    background: white;
    border-color: transparent;
    box-shadow: none;
    z-index: 6;
}

.navbar-default {
    font-weight: 500;
}

.navbar-default {
    font-weight: normal;
}
.navbar .navbar-brand{
    color: #fa8072 !important;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: #f27c6f !important;
}

#collapse-btn {
    border-color: transparent;
}

.container {
    margin-top: 60px;
}

.map-filters {
  margin-left: 0;
}

#sidebar-content {
  padding: 5%;
  display: inline-block;
}

/*#final-map {
  width: 100%;
  height: 68vh;
  margin: 0 auto;
}*/

.place-div p {
  line-height: 16px;
  margin: 4px;
}

.title-eat {
  color: #D36135;
}

.title-sleep {
  color: #3E8989;
}

.title-explore {
  color: #2DB547;
}

.title-transport {
  color: #EAC435;
}

/*@media screen and (max-width: 767px) {
     #final-map {
      width: 100%;
      height: 65vh;;
    }
}
}*/
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}

/*.filter {
    margin-right: 0;
}*/

#copyButton {
    font-weight: bold;
    background-color: #fa8072;
    color: white;
    border-radius: 5px;
    border: 1px solid #fa8072;
}

#copy-link-row {
    margin-right: -25px;
}

#copyTarget {
    width: 240px;
    margin-right: 5px;
    padding: 2px;
}

#trip-title {
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
  word-wrap: break-word;
  text-align: left;
}

#trip-author {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 15px;
    color: #fa8072;
    text-align: left;
}

#eat-filter-label {
    color: #D36135;
}

#explore-filter-label {
    color: #2DB547;
}

#sleep-filter-label {
    color: #3E8989;
}

#transport-filter-label {
    color: #EAC435;
}


