{% extends 'base.html' %}
{% block title %}About JourneyTeller{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/all_trips-v2.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
    <div id= "homenavbar"class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">journeyteller <i class="fa fa-compass"></i></a>
      </div>
    </div><!-- /.container-fluid-->
  </nav>
{% endblock %}
{% block content %}
<br><br>
<div class="row text-center">
    <h4>Coming soon.</h4>
</div>

{% endblock %}