{% extends 'base.html' %}
{% block title %}{{ user.name|title }}'s Trips{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/all_trips-v2.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
    <div id= "homenavbar"class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" id="collapse-btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homenavbarcollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">journeyteller <i class="fa fa-compass"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="homenavbarcollapse">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">about</a></li>
            <li><a href="/logout">log out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}
{% block content %}
<div class="modal fade" id="createTripModal" tabindex="-1" role="dialog" aria-labelledby="createTripModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="createTripModalLabel">ADD NEW TRIP</h4>
              </div>
              <div class="modal-body">
                <form id='create-trip'>
                  <label for='tripname'>NAME YOUR TRIP: </label><br>
                <input type='text' name='tripname' id='tripname' maxlength='60' required><br>
                <label for='trip-loc-search'>WHERE DID YOU GO?</label><br>
                <input id="trip-loc-search" name="trip-loc-search" type="text" placeholder="Search Places" required><br>
                <label for="from">FROM:</label><br>
                <input type="text" id="from" name="from" required readonly><br>
                <label for="to">TO:</label><br>
                <input type="text" id="to" name="to" required readonly><br>
                <input type='submit' value='CREATE TRIP' id='submit-trip'>
                </form>
                <div id="trip-submit-feedback"></div>
                </div>
            </div>
          </div>
        </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12  text-left">
        <h2 id="title">{{ user.name|title }}'s Trips</h2>
        <!-- <h5 id="author"></h5> -->
        <a class="modal-open" id="open-create-trip" data-toggle="modal" data-target="#createTripModal">
               + ADD NEW TRIP
            </a>
      </div>
    </div>
     
    <div class="row">
      <div class="col-xs-12 text-center">
        {% for trip in user_trips %}
            <a href='/create_trip/{{ user.username }}/{{ trip.trip_id }}' class="trip-link">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 trip-square">
                <div class="square-text">
                  <h4 class='utf-8 trip-name'>{{ trip.trip_name }}</h4>
                  <p class='trip-date'>{{trip.start_date.strftime("%B %d, %Y")}} to <br>{{trip.end_date.strftime("%B %d, %Y")}}</p>
                   <h4 class="trip-loc">{{ trip.general_loc}}</h4>
                </div>
              </div>
            </a>
        {% endfor %}
      </div> 
    </div>

  </div>
{% endblock %}

{% block scripts %}
<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1
        
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&callback=tripLocSearch" async defer></script>
<script src="/static/js/trip_location_searchbar.js"></script>
{% endblock %}
