{% extends 'base.html' %}
{% block title %}{{ user.name|title }}'s Trips{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/add_trip_map.css">
{% endblock %}
{% block content %}
    <h1>All Trips</h1>
    <h3>By: {{ user.name|title }}</h3>
     <form id='create-trip'>
            <label for='tripname'>Name your trip: </label><br>
            <input type='text' name='tripname' id='tripname' required><br>
            <label for='trip-loc-search'>Where to?</label><br>
            <input id="trip-loc-search" name="trip-loc-search" type="text" placeholder="Search Box" required><br>
            Trip dates:<br>
            <label for="from">From</label>
            <input type="text" id="from" name="from" required>
            <label for="to">to</label>
            <input type="text" id="to" name="to" required><br>
            <input type='submit' value='Create Trip' id='submit-trip'>
    </form>
    {% for trip in user_trips %}
        <a href='/create_trip/{{ user.username }}/{{ trip.trip_id }}'><h3>{{ trip.trip_name }}</h3></a>
    {% endfor %}
    <br>
    <a class="btn btn-primary" href='/logout'>Logout</a>
{% endblock %}

{% block scripts %}
<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1
        
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&callback=tripLocSearch" async defer></script>
<script src="/static/js/trip_location_searchbar.js"></script>
{% endblock %}
