<!doctype html>
<html lang="en">
<head>
  
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity=
  "sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <style type="text/css">
    .flashed-message {
      margin-top: 51px;
      margin-bottom: 0px;
      padding: 6px;
      padding-left: 12px;
    }
  </style>
  {% block style %}
  {% endblock %}
</head>

<body>
        {% block navbar %}
    NAVBAR HERE
    {% endblock %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-div">
        {% for message in messages %}
          <h5 class="flashed-message alert alert-warning">{{ message }}</h5>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    


  {% block content %} put your content here {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>
</html>