<!doctype html>
<html manifest="" lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity=
  "sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  {% block style %}
  {% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


  <div class='container'>
  {% block content %} put your content here {% endblock %}
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>