<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity=
  "sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block style %}
  {% endblock %}
</head>

<body>
    {% block navbar %}
    NAVBAR HERE
    {% endblock %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-div">
        {% for message in messages %}
          <h5 class="flashed-message">{{ message }}</h5>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


  {% block content %} put your content here {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>
</html>