{% extends 'base.html' %}
{% block title %}Itinerary Mapper{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/homepage.css">

{% endblock %}

    
    {% block navbar %}
    <nav class="navbar navbar-default">
    <div id= "homenavbar"class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" id="collapse-btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homenavbarcollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">journeyteller <i class="fa fa-compass"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="homenavbarcollapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">ABOUT</a></li>
          {% if not username %}
          <li><a href="#" data-toggle="modal" data-target="#createAccountModal">CREATE ACCOUNT</a></li>
          <li><a href="#" data-toggle="modal" data-target="#loginModal">LOG IN</a></li>
          {% else %}
          <li><a href="#" onclick="document.getElementById('to-all-trips').submit();">ALL TRIPS</a></li>
          <li><a href="#" onclick="document.getElementById('logout').submit();">LOG OUT</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}
{% block content %}
  <div class="container">
    <fb:login-button scope="public_profile" onlogin="checkLoginState" data-auto-logout-link="true">
    </fb:login-button>
    <div id="fb-status">
    </div>
    {% if not username %}
        <div class="row" id="no-sess-div">
          <div class="col-lg-offset-3 col-lg-6 col-md-12 col-xs-12 text-center">
            <h1>journeyteller</h1>
            <h5>STORYTELLING FOR YOUR ADVENTURES.</h5>
            <br>

            <button type="button" class="btn btn-sm no-sess-btn" id="open-login">
              LOG IN 
            </button>&nbsp;or&nbsp;
            <button type="button" class="btn btn-sm no-sess-btn" id="open-create-acct">
               CREATE ACCOUNT
            </button>
            <div id="no-sess-forms">
              TO GET STARTED.
            </div>
          </div>
        </div>
        

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="loginModalLabel">LOG IN</h4>
              </div>
              <div class="modal-body">
                <form action='/login' method='POST' class='modal-form'>
                    <label for='username'>Username: </label><br>
                    <input type='text' name='username' class='char-restrict' required><br>
                    <label for='password'>Password: </label><br>
                    <input type='password' name='password' autocomplete="off" required><br>
                    <input type='submit' value='LOG IN'>
                </form>
              </div>
            </div>
          </div>
        </div>

        

        <div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="createAccountModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="createAccountModalLabel">CREATE AN ACCOUNT</h4>
              </div>
              <div class="modal-body">
                <form action='/create_user' method='POST' class='modal-form'>
                    <label for='name'>Name: </label><br>
                    <input type='text' name='name' autocomplete="off" required><br>
                    <label for='username'>Username  (alphanumeric only): </label><br>
                    <input type='text' name='username' class='char-restrict' autocomplete="off" required><br>
                    <label for='password'>Password: </label><br>
                    <input type='password' name='password' autocomplete="off" required><br>
                    <input type='submit' value='CREATE USER'>
                </form>
              </div>
            </div>
          </div>
        </div>


    {% else %}
        <form action='/logout' id='logout'>
            <input hidden type='submit' value='Logout'>
        </form>
        <div class="row" id="in-sess-div">
          <div class="col-lg-offset-3 col-lg-6 col-md-12 col-xs-12 text-center">
            <form id='create-trip'>
                <!-- <div id='create-trip-loc'></div>
                <div id='create-trip-loc-name'></div> -->
                <label for='tripname'>NAME YOUR TRIP: </label><br>
                <input type='text' name='tripname' id='tripname' required><br>
                <label for='trip-loc-search'>WHERE DID YOU GO?</label><br>
                <input id="trip-loc-search" name="trip-loc-search" type="text" placeholder="Search Places" required><br>
                <label for="from">FROM</label><br>
                <input type="text" id="from" name="from" required><br>
                <label for="to">TO</label><br>
                <input type="text" id="to" name="to" required><br>
                <input type='submit' value='CREATE TRIP' id='submit-trip'>
            </form>
            <form action='/{{ username }}/trips' id='to-all-trips'>
            <input type='submit' value='or go to All Trips' id='to-all-trips'>
            </form>
          </div>
        </div>
    {% endif %}

{% endblock %}
</div>

{% block scripts %}
<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1
        
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
</script>
<script>
  // script to restrict the kind of characters allowed
  $(".char-restrict").bind("keypress", function (event) {
      if (event.charCode !== 0) {
          var regex = new RegExp("^[a-zA-Z0-9]+$");
          var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
          if (!regex.test(key)) {
              event.preventDefault();
              return false;
          }
      }
  });
</script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
<!-- <script src="/static/js/fb_login.js"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&callback=tripLocSearch" async defer></script>
<script src="/static/js/trip_location_searchbar.js"></script>
<script src="/static/js/homepage.js"></script>
{% endblock %}