{% extends 'base.html' %}
{% block title %}Itinerary Mapper{% endblock %}
{% block content %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1200587173334573',
          xfbml      : true,
          version    : 'v2.8'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-auto-logout-link="true">
    </fb:login-button>
    <!-- <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState();"></div> -->

    <div id="status">
    </div>


    {% if not username %}
        <h4>Create an Account</h4>
        <form action='/create_user' method='POST'>
            <label for='name'>Name: </label><br>
            <input type='text' name='name' required><br>
            <label for='username'>Username: </label><br>
            <input type='text' name='username' required><br>
            <label for='password'>Password: </label><br>
            <input type='password' name='password' required><br>
            <input type='submit' value='Create User'>
        </form>
        <br>
        <h4>Login</h4>
        <form action='/login' method='POST'>
            <label for='username'>Username: </label><br>
            <input type='text' name='username' required><br>
            <label for='password'>Password: </label><br>
            <input type='password' name='password' required><br>
            <input type='submit' value='Login'>
        </form>
        <br>

    {% else %}
        <form action='/logout'>
            <input type='submit' value='Logout'>
        </form>
            <form id='create-trip'>
                <!-- <div id='create-trip-loc'></div>
                <div id='create-trip-loc-name'></div> -->
                <label for='tripname'>Name your trip: </label><br>
                <input type='text' name='tripname' id='tripname' required><br>
                <label for='trip-loc-search'>Where to?</label><br>
                <input id="trip-loc-search" name="trip-loc-search" type="text" placeholder="Search Box" required><br>
                Trip dates:<br>
                <label for="from">From</label>
                <input type="text" id="from" name="from" required>
                <label for="to">to</label>
                <input type="text" id="to" name="to" required><br>
                <input type='submit' value='Create Trip' id='submit-trip'>
            </form>
            <form action='/{{ username }}/trips'>
            <input type='submit' value='Go to Trips'>
            </form>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1
        
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
</script>
<script src="/static/js/fb_login.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&callback=tripLocSearch" async defer></script>
<script src="/static/js/trip_location_searchbar.js"></script>
{% endblock %}