{% extends 'base.html' %}
{% block title %}{{ trip.trip_name }}{% endblock %}
{% block style %}
<script src="/static/js/map_view.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&signed_in=true&callback=createFinalMapPlaces" async defer></script>

<link rel="stylesheet" href="/static/css/map_view.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
    <div id= "homenavbar"class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" id="collapse-btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homenavbarcollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">journeyteller <i class="fa fa-compass"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="homenavbarcollapse">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">ABOUT</a></li>
        {% if username %}
          <li><a href='/create_trip/{{user.username}}/{{ trip.trip_id}}'>BACK TO TRIP PAGE</a></li>
          <li><a href="/logout">LOG OUT</a></li>
        {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}

{% block content %}

    <input type='hidden' id='map-trip_id' value='{{ trip.trip_id }}'>
    
    <div id='final-map' ></div>


{% endblock %}

{% block scripts %}

<script async defer src="//assets.pinterest.com/js/pinit.js"></script>


{% endblock %}
