{% extends 'base.html' %}
{% block title %}{{ trip.trip_name }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/map_view.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
    <div id= "homenavbar"class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" id="collapse-btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homenavbarcollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">journeyteller <i class="fa fa-compass"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="homenavbarcollapse">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">ABOUT</a></li>
        {% if username %}
          <li><a href='/create_trip/{{user.username}}/{{ trip.trip_id}}'>BACK TO TRIP PAGE</a></li>
          <li><a href="/logout">LOG OUT</a></li>
        {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="map-view-row">
            <div class="col-lg-offset-1 col-lg-10 col-xs-12 text-center" id="map-view-col">
                <h3>{{ trip.trip_name }}</h3>
                <input type='hidden' id='map-trip_id' value='{{ trip.trip_id }}'>

                <input type="hidden" id="copyTarget" value="http://localhost:5000/{{user.username}}/{{trip.trip_id}}/mapview">
                <button id="copyButton">Copy Link</button>
                <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                    <div id='final-map' ></div>
                <!-- </div> -->
                <div class="map-filters">
                    <h5>Category Filters</h5>
                        <label><input type="checkbox" name="filter" id="eat-filter" checked> Eat &nbsp;</label>
                        <label><input type="checkbox" name="filter" id="explore-filter" checked> Explore &nbsp;</label>
                        <label><input type="checkbox" name="filter" id="sleep-filter" checked> Sleep &nbsp;</label>
                        <label><input type="checkbox" name="filter" id="transport-filter" checked> Voyage &nbsp;</label>  
                 </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&signed_in=true&callback=createAllPlacesMap" async defer></script>
<script src="/static/js/map_view.js"></script>
{% endblock %}
