{% extends 'base.html' %}
{% block title %}{{ trip.trip_name }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/map_view.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
    <div id= "homenavbar"class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" id="collapse-btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homenavbarcollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">journeyteller <i class="fa fa-compass"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="homenavbarcollapse">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">ABOUT</a></li>
        {% if username %}
          <li><a href='/create_trip/{{user.username}}/{{ trip.trip_id}}'>BACK TO TRIP PAGE</a></li>
          <li><a href="/logout">LOG OUT</a></li>
        {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="copy-link-row">
            <div id="copy-link" class="col-lg-12 col-xs-12 text-right">
                    <input type="text" id="copyTarget"  value="http://localhost:5000/{{user.username}}/{{trip.trip_id}}/mapview">
                    <button id="copyButton" >COPY LINK</button>
            </div>
        </div>

        <div class="row" id="map-view-row">
            <div class="col-lg-offset-1 col-lg-10 col-xs-12 text-center" id="map-view-col">
                <input type='hidden' id='map-trip_id' value='{{ trip.trip_id }}'>
                
                <h2 id="trip-title" class="utf-8"> {{ trip.trip_name }}</h2>
                <h5 id="trip-author" class="utf-8">By: {{ user.username }}</h5>
                <div class="map-filters">
                    MAP FILTERS: &nbsp; &nbsp;
                        
                        <label class="filter" for="eat-filter" id="eat-filter-label" > <input type="checkbox" name="filter"  id="eat-filter" checked>&nbsp; &nbsp; EAT &nbsp;<i class="fa fa-cutlery"></i></label>
                         
                        <label class="filter" for="explore-filter" id="explore-filter-label" ><input type="checkbox" name="filter"  id="explore-filter" checked>&nbsp; &nbsp; EXPLORE &nbsp;<i class="fa fa-globe"></i></label>
                        
                        <label class="filter" for="sleep-filter" id="sleep-filter-label" > <input type="checkbox" name="filter" id="sleep-filter" checked>&nbsp; &nbsp; SLEEP &nbsp;<i class="fa fa-bed"></i></label>
                        
                        <label class="filter" for="transport-filter" id="transport-filter-label" > <input type="checkbox" name="filter" id="transport-filter" checked>&nbsp; &nbsp;VOYAGE &nbsp;<i class="fa fa-paper-plane"></i> </label>  
                        
                 </div>
                

                
                <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                    <div id='final-map' ></div>
                <!-- </div> -->
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&signed_in=true&callback=createAllPlacesMap" async defer></script>
<script src="/static/js/map_view.js"></script>
{% endblock %}
