{% extends 'base.html' %}
{% block title %}{{ trip.trip_name }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/add_trip_map.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
    <div id= "homenavbar"class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" id="collapse-btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homenavbarcollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">journeyteller <i class="fa fa-compass"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="homenavbarcollapse">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">ABOUT</a></li>
            <li><a href='/{{user.username}}/{{ trip.trip_id}}/mapview'>GO TO MAP</a></li>
            <li><a href='/{{user.username}}/trips'>ALL TRIPS</a></li>
            <li><a href="/logout">LOG OUT</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}
{% block content %}
 <div class="container">
    <div class="row" id="trip-btn-row">
        <div class="col-xs-12 text-right" id="trip-btn-col">
            <button type="button" class="btn btn-primary" id='publish-btn'>
            Make Trip Public
            </button>
            <button type="button" class="btn btn-danger"  id='delete-trip-btn'>
                    Delete Trip
            </button>
        </div>
    </div>
    
    <div class="row" id="trip-titles-row">
        <div class="col-lg-offset-3 col-lg-6 col-xs-12 text-center" id="trip-titles-col">
            <h2 id="trip-title"> {{ trip.trip_name }}</h2>
            <h5 id="trip-author">By: {{ user.name }}</h5>
            <br>
        </div>
    </div>
    <div class="row" id="add-place-row">
                <div id="add-trip-div">
                <form id='add-trip-form' enctype="multipart/form-data">

                    <div class='col-lg-offset-3 col-lg-3  col-md-offset-2 col-md-4 col-xs-12' id="add-form-left">  
                        
                        <input type='hidden' id='trip_id' name='trip_id' value='{{ trip.trip_id}}'>
                        <label for='placename'>Name of Place: </label><br>
                        <input id="placename" type='text' name='placename' required><br>

                        
                        <label for='tripday'>Day of Visit: </label>
                        <select id="tripday" name="tripday" required>
                            <option disabled selected value> -- Select -- </option>
                            {% for day in trip_dates %}
                                <option value="{{ day[0]}},{{ day[1] }}">Day {{ day[0]}}: {{ day[1] }}</option>
                            {% endfor %}
                        </select><br>
                        <label for='tripcat'>Category of Place: </label>
                        <select id="tripcat" name="tripcat" required>
                            <option disabled selected value> -- Select -- </option>
                            <option value="eat">Eat</option>
                            <option value="sleep">Sleep</option>
                            <option value="explore">Explore</option>
                            <option value="transport">Voyage</option>
                        </select><br>

                        <label for='tripcat'>Upload Picture: </label>
                        <input type="file" name="file" id="place-pic-file"><br>

                        <label for='tripnotes'>Notes: </label><br>
                        <div>
                            <textarea id="tripnotes" name="tripnotes"></textarea>
                        </div>

                        
                    </div>
                    <div class='col-lg-3  col-md-4 col-xs-12' id='add-form-right'>
                        <label for='placesearch'>Location of Place: </label><br>
                        <input id="place-search" name="placesearch" type="text" placeholder="Search Box" required><br>

                        <div id="placemap"></div>
                        
                    </div>
                    </div>
                    <div class="row" id="add-place-row-btns">
                         <div class="col-xs-12 text-center" id="add-place-col-title">
                            <div id="add-form-btns">
                                <input id="add-place" type='submit' value='+ ADD NEW PLACE'><br>
                                <button id="hide-add-form-btn">Hide Form</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            
            
        
        

        <div class="row">
            <div class='col-lg-offset-3 col-lg-6  col-md-offset-2 col-md-8 col-xs-12 text-center'>
                <button type="button" class="btn" id="show-add-form-btn">
                  SHOW ADD NEW PLACE FORM
                </button>
            </div>  
        </div>
    

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="editModalLabel">Edit Place</h4>
          </div>
          <div id='modal-form' class="modal-body">
            <form id='edit-place-form' enctype="multipart/form-data">
                <input type='hidden' id='edit-place_id' name='edit-place_id'>
                <input type='hidden' id='edit-trip_id' name='edit-trip_id' value='{{ trip.trip_id}}'>
                <label for='edit-placename'>Place Name: </label>
                <input id="edit-placename" type='text' name='edit-placename' required><br>
                <label for='edit-placesearch'>Search for Place: </label>
                <input id="edit-place-search" name="edit-placesearch" type="text" placeholder="Search Box" required>
                <div id="edit-placemap"></div>
                <label for='edit-tripday'>Day of Visit: </label>
                <select id="edit-tripday" name="edit-tripday" required>
                    <option disabled selected value> -- Select -- </option>
                    {% for day in trip_dates %}
                        <option value="{{ day[0]}},{{ day[1] }}">Day {{ day[0]}}: {{ day[1] }}</option>
                    {% endfor %}
                </select><br>
                <label for='edit-tripcat'>This is a Place to: </label>
                <select id="edit-tripcat" name="edit-tripcat" required>
                    <option disabled selected value> -- Select -- </option>
                    <option value="eat">Eat</option>
                    <option value="sleep">Sleep</option>
                    <option value="explore">Explore</option>
                    <option value="transport">Voyage</option>
                </select><br>
                <label for='edit-tripnotes'>Notes: </label><br>
                <div>
                    <textarea id="edit-tripnotes" name="edit-tripnotes"></textarea>
                </div>
                <input type="file" name="file" id="edit-place-pic-file">
                <input type="checkbox" id='delete-file' name="delete-file"> Delete Picture
            </form>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id='delete-place-btn' value="Delete Place">
                Delete Place
            </button>
            <button type="submit" class="btn btn-primary" form="edit-place-form" value="Edit Place" id='edit-place-btn'>
                Edit Place
            </button>
          </div>
          
        </div>
      </div>
    </div>
        {% for day in trip_dates %}
            <div id='day-{{ day[0] }}' class="row day-row">
                <div class="col-xs-12"> <h4>Day {{ day[0] }}: {{ day[2] }}</h4></div>
                {% for place in trip_places %}
                    {% if place[0].day_num == day[0] %}
                        <div id='place-div-{{ place[0].place_id }}' class='col-lg-3 col-md-4 col-xs-6 place-div' >
                            <div class='place-content'>
                                <div class='place-img-div'>
                                    <img src='/uploads/{{ place[0].pic_file }}' class='place-img' style="width:100%;margin:auto 0">
                                </div>
                                <div class='place-text'>
                                    <p class='place-text-name text-{{ place[0].cat_id }}'>
                                        {{ place[0].place_name }}
                                        {% if place[0].cat_id == 'eat' %}
                                        <i class="fa fa-cutlery"></i>
                                        {% elif place[0].cat_id == 'sleep' %}
                                        <i class="fa fa-bed"></i>
                                        {% elif place[0].cat_id == 'explore' %}
                                        <i class="fa fa-globe"></i>
                                        {% elif place[0].cat_id == 'transport' %}
                                        <i class="fa fa-paper-plane"></i>
                                        {% endif %}
                                    </p>
                                    <p class='utf-8 place-address'>{{ place[1].decode('utf-8') }}</p>

                                </div>
                                <button type="button" class="edit-btn" data-toggle="modal" data-target="#editModal">
                                  Edit Place
                                </button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        {% endfor %}

    
</div>
    {% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&callback=tripPageMaps" async defer></script>
<script src="/static/js/add_place_map.js"></script>
<script src="/static/js/add_new_place.js"></script>
<script src="/static/js/edit_place_form.js"></script>
<script src="/static/js/trip_page.js"></script>
{% endblock %}


