{% extends 'base.html' %}
{% block title %}{{ trip.trip_name }}{% endblock %}
{% block style %}

<!-- <link rel="stylesheet" href="/static/css/add_trip_map.css"> -->
<meta name="pinterest" content="nopin" />
<link rel="stylesheet" href="/static/css/trip_page.css">

{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
    <div id= "homenavbar"class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" id="collapse-btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homenavbarcollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">journeyteller <i class="fa fa-compass"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="homenavbarcollapse">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">about</a></li>
            <li><a href='/{{user.username}}/{{ trip.trip_id}}/mapview'>map view</a></li>
            <li><a href='/{{user.username}}/{{ trip.trip_id}}/collageview'>collage view</a></li>
            <li><a href='/{{user.username}}/trips'>all trips</a></li>
            <li><a href="/logout">log out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}
{% block content %}
 <div class="container">
    
    <div class="row" id="trip-titles-row">
        <div class="col-xs-12 text-left" id="trip-titles-col">
            <h2 id="trip-title" class='utf-8'> {{ trip.trip_name }}</h2>
            <h5 id="trip-author">By: {{ user.name }}</h5>
            <br>
        </div>
    </div>
    <div class="row" id="trip-btn-row">
        <div class="col-xs-12 text-left" id="trip-btn-col">
            <button type="button" class="btn btn-primary" id="add-btn" data-toggle="modal" data-target="#addModal">
              <i class="fa fa-plus"></i> &nbsp; ADD PLACE
            </button>
            <button type="button" class="btn btn-primary" id='publish-btn'>
            {% if trip.published %}
            <i class="fa fa-user"></i> MAKE TRIP PRIVATE
            {% else %}
            <i class="fa fa-users"></i> &nbsp; MAKE TRIP PUBLIC
            {% endif %}
            </button>
            <button type="button" class="btn btn-danger"  id='delete-trip-btn'>
                <i class="fa fa-ban"></i> &nbsp;DELETE TRIP
            </button>
            <br><br>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">ADD PLACE</h4>
              </div>
              <div id='modal-form' class="modal-body">
                <form id='add-trip-form' enctype="multipart/form-data">
    
                    <input type='hidden' id='trip_id' name='trip_id' value='{{ trip.trip_id}}'>
                    <div id="add-form-map"></div>

                    <div id="add-text-fields">
                    <label for='placesearch'>Place Location: </label><br>
                    <input id="add-form-search" name="placesearch" type="text" placeholder="Search Box" required><br>
                    <p id="invalid-place"></p>
                    <label for='placename'>Place Name: </label><br>
                    <input id="placename" type='text' name='placename' max-length="60" required><br>

                    <label for='tripday'>Day Visited: </label>
                    <select id="tripday" name="tripday" required>
                        <option disabled selected value> -- Select -- </option>
                        {% for day in trip_dates %}
                            <option value="{{ day[0]}},{{ day[1] }}">Day {{ day[0]}}: {{ day[1] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for='tripcat'>Category: </label>
                    <select id="tripcat" name="tripcat" required>
                        <option disabled selected value> -- Select -- </option>
                        <option value="eat">Eat</option>
                        <option value="sleep">Sleep</option>
                        <option value="explore">Explore</option>
                        <option value="transport">Voyage</option>
                    </select>
                    <br>

                    <label for='tripnotes'>Notes: </label><br>
                        <textarea id="tripnotes" name="tripnotes"></textarea><br>

                    <!-- if using upload picture -->
                    <label for='file'>Upload Picture (jpeg, jpg, JPG, png, PNG): </label>
                    <input type="file" name="file" id="place-pic-file"><br>

                    <!-- <label for='img-link'>Image URL: </label><br> -->
                    <!-- <input type="text" name="img-link" id="place-pic-link"><br> -->

                    <input id="add-place" type='submit' value='+ ADD NEW PLACE'><br>
                </div>
                </form>
                
              </div>
              
            </div>
          </div>
        </div>



    

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="editModalLabel">EDIT PLACE</h4>
          </div>
          <div id='modal-form' class="modal-body">
            <form id='edit-place-form' enctype="multipart/form-data">
                <input type='hidden' id='edit-place_id' name='edit-place_id'>
                <input type='hidden' id='edit-trip_id' name='edit-trip_id' value='{{ trip.trip_id}}'>
                
                <div id="edit-placemap"></div>
                <label for='edit-placesearch'>Search for Place: </label><br>
                <input id="edit-place-search" class='utf-8' name="edit-placesearch" type="text" placeholder="Search Box" required><br>
                <label for='edit-placename'>Place Name: </label><br>
                <input id="edit-placename" class='utf-8' type='text' name='edit-placename' max-length="60"required><br>
                
                <label for='edit-tripday'>Day of Visit: </label>
                <select id="edit-tripday" name="edit-tripday" required>
                    <option disabled selected value> -- Select -- </option>
                    {% for day in trip_dates %}
                        <option value="{{ day[0]}},{{ day[1] }}">Day {{ day[0]}}: {{ day[1] }}</option>
                    {% endfor %}
                </select><br>
                <label for='edit-tripcat'>This is a Place to: </label>
                <select id="edit-tripcat" name="edit-tripcat" required>
                    <option disabled selected value> -- Select -- </option>
                    <option value="eat">Eat</option>
                    <option value="sleep">Sleep</option>
                    <option value="explore">Explore</option>
                    <option value="transport">Voyage</option>
                </select><br>
                <label for='edit-tripnotes'>Notes: </label><br>
                    <textarea id="edit-tripnotes" name="edit-tripnotes"></textarea><br>
                <!-- this is for file upload -->
                <label for='file'>Upload Picture (jpeg, jpg, JPG, png, PNG):</label><br>
                <input type="file" name="file" id="edit-place-pic-file">
                <!-- <label for='img-link'>Image URL: </label><br>
                <input type="text" name="img-link" id="edit-place-pic-link"> --><br>
                <input type="checkbox" id='delete-file' name="delete-file"> Delete Picture
            </form>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id='delete-place-btn' value="Delete Place">
                Delete Place
            </button>
            <button type="submit" class="btn btn-primary" form="edit-place-form" value="Edit Place" id='edit-place-btn'>
                EDIT PLACE
            </button>
          </div>
          
        </div>
      </div>
    </div>
        {% for day in trip_dates %}
            <div id='day-{{ day[0] }}' class="row day-row">
                <div class="col-xs-12"> <h4>Day {{ day[0] }}: {{ day[2] }}</h4></div>
                {% for place in trip_places %}
                    {% if place[0].day_num == day[0] %}
                        <div id='place-div-{{ place[0].place_id }}' class='col-xs-12 col-sm-12 col-md-4 col-lg-3 place-div' >
                            <div class='place-content'>
                                <div class='place-img-div'>
                                    <img src='{{ place[0].pic_file }}' class='place-img'>
                                </div>
                                <div class='place-text-div'>
                                    <div class='place-title'>
                                        <span>
                                        {% if place[0].cat_id == 'eat' %}
                                            <i class="fa fa-cutlery"></i>
                                            {% elif place[0].cat_id == 'sleep' %}
                                            <i class="fa fa-bed"></i>
                                            {% elif place[0].cat_id == 'explore' %}
                                            <i class="fa fa-globe"></i>
                                            {% elif place[0].cat_id == 'transport' %}
                                            <i class="fa fa-paper-plane"></i>
                                        {% endif %} &nbsp;
                                        </span>
                                        <span class='utf-8 place-text-name text-{{ place[0].cat_id }}'>
                                            {{ place[0].place_name }}
                                        </span>
                                    </div>
                                    <div class='place-add-box'>
                                        <span class='utf-8 place-address'>{{ place[1].decode('utf-8') }}</span>
                                    </div>
                                    <div class='place-edit-box'>
                                        <button type="button" class="edit-btn" data-toggle="modal" data-target="#editModal">
                                        Edit Place
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        {% endfor %}

    
</div>
    {% endblock %}
{% block scripts %}

<script src="/static/js/trip_page.js"></script>
<script src="/static/js/add_new_place.js"></script>
<script src="/static/js/edit_place_form.js"></script>
<script src="/static/js/add_place_form.js"></script>
<script src="/static/js/add_place_map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv88WJq0QSZ8YNl9SUyZRn4zPc0pk9RE0&
libraries=places&callback=tripPageMaps" async defer></script>
{% endblock %}


